# ---- CONFIG ---- #
APP_NAME=MIROKAI_BACK
PORT=3001
JWT_SECRET=ton_secret_super_long

# ---- MONGO---- #
MONGODB_URI=mongodb+srv://username:pass@mirokai.c0oj0rf.mongodb.net/mirokai
MONGO_USER=username
MONGO_PASS=pass

# ---- AWS S3 ---- #
AWS_REGION=eu-west-3
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_MEDIA_BUCKET=your-new-media-bucket-name